@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Yeon+Sung&display=swap");

body {
}
.img {
  position: relative;
  background-image: url(computer.png);
  height: 100vh;
  background-size: cover;
}

.img .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: white;
  z-index: 2;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.navbar {
  justify-content: flex-end;
  display: flex;
  left: 0px;
  height: 40px;
  align-items: center;
  width: 100%;
}
.skill_container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  column-count: 6;
  background-color: burlywood;
}

.skill h2 {
  font-size: 50px;
}
.skill_container span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.interminate {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  column-count: 6;
}

.basic {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  column-count: 6;

  align-items: center;
}
.skill_container h2 {
  padding-bottom: 0px;
}
.fab {
  font-size: 80px;
  margin: 30px;
}
h1 {
  padding-top: 30px;
}
li {
  display: inline;
  padding: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-top: 30px;
  margin-bottom: 50px;
  font-size: 40px;
}
h3 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.About {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 100px;
}

.About h1 {
  font-family: fantasy;
  padding-right: 50px;
}

article {
  font-family: "Hanna", sans-serif;

  display: flex;

  max-width: 50%;
}
/* project */

.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 900px;
  justify-content: center;
  align-items: center;
}

.stock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-count: 3;
  width: 1500px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.stock img {
  width: 602px;
  height: 300px;
  padding-bottom: 30px;
}
.stock h3 {
  padding: 40px;
  margin-right: 30px;
  text-align: left;
  padding-bottom: 200px;
  justify-content: start;
  width: 500px;
  float: left;
  flex: 1;
}

.employee h3 {
  padding: 40px;
  margin-right: 30px;
  text-align: left;
  padding-bottom: 300px;
  justify-content: start;
  width: 500px;
  float: left;
  flex: 1;
}

.gamja {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  column-count: 3;
  width: 1500px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gamja h3 {
  padding: 40px;
  margin-right: 30px;
  text-align: left;
  padding-bottom: 300px;
  justify-content: start;
  width: 500px;
  float: left;
  flex: 1;
}

.gamja img {
  width: 602px;
  height: 300px;
  padding-bottom: 30px;
}
.employee img {
  width: 602px;
  height: 300px;
  padding-bottom: 30px;
}

.stock p {
  flex: 2;
  float: right;
  text-align: center;
  justify-content: end;
  padding-top: 50px;
  padding-left: 30px;
  font-family: "Do Hyeon", sans-serif;
  font-size: 20px;
  align-items: center;
}
.gamja p {
  flex: 2;
  float: right;
  text-align: center;
  justify-content: end;
  padding-top: 50px;
  padding-left: 30px;
  font-family: "Do Hyeon", sans-serif;
  font-size: 20px;
  align-items: center;
}
.employee {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  column-count: 3;
  width: 1500px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.employee p {
  flex: 2;
  float: right;
  text-align: center;
  padding-top: 50px;
  justify-content: end;
  padding-left: 30px;
  font-family: "Do Hyeon", sans-serif;
  font-size: 20px;
  align-items: center;
}
.employee i {
  color: black;
  font-size: 50px;
}

.contact {
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: burlywood;
}

.contact p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px;

  padding: 0;
}
.contact h2 {
  padding: 0;
  margin: 0;
}

.contact i {
  color: black;
  font-size: 80px;
  align-items: center;
  margin-top: 0;
  text-align: center;
}
